In [24]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Junyu Yang\Desktop\database.csv')
name_id = pd.read_csv(r'C:\Users\Junyu Yang\Desktop\name_id.csv')

In [25]:
name = name_id['name'].tolist()
df = pd.merge(data, name_id, left_on='_openid', right_on='openid', how='inner')

In [26]:
fitter = df[df['name'].isin(name)]
fitter.value_counts()

_openid                       qid  item  truth  label  name  openid
oKNuw64KyfFP95R8Lv4TLnzhLPos  399  1     1      0      黎家洛   oKNuw64KyfFP95R8Lv4TLnzhLPos    3
oKNuw65tHLKAvGMoTvgCorG1B_GY  114  1     1      6      周齐顺   oKNuw65tHLKAvGMoTvgCorG1B_GY    2
                              113  1     0      9      周齐顺   oKNuw65tHLKAvGMoTvgCorG1B_GY    2
oKNuw60wGXONc1dttebdrbHuWIPQ  399  1     1      0      叶毅强   oKNuw60wGXONc1dttebdrbHuWIPQ    2
oKNuw64KyfFP95R8Lv4TLnzhLPos  36   1     1      8      黎家洛   oKNuw64KyfFP95R8Lv4TLnzhLPos    2
                                                                                            ..
oKNuw63r_KVxlLQAkAau0CpH57RM  43   0     0      8      肖海萍   oKNuw63r_KVxlLQAkAau0CpH57RM    1
                              44   1     1      0      肖海萍   oKNuw63r_KVxlLQAkAau0CpH57RM    1
                              45   1     1      0      肖海萍   oKNuw63r_KVxlLQAkAau0CpH57RM    1
                              46   0     0      1      肖海萍   oKNuw63r_KVxlLQAkAau0CpH57RM    1
oKNuw6zB79PKqns87HpXkLoc2QWQ  199  0     0      1      张心和   oKNuw6zB79PKqns87HpXkLoc2QWQ    1
Length: 2526, dtype: int64

In [27]:
fitter.rename(columns={'qid':'id'}, inplace=True)
fitter.sort_values(by=['name','id'], inplace=True)
fitter.reset_index(drop=True, inplace=True)

In [28]:
fitter

,_openid,id,item,truth,label,name,openid
0,oKNuw60wGXONc1dttebdrbHuWIPQ,0,0,0,0,叶毅强,oKNuw60wGXONc1dttebdrbHuWIPQ
1,oKNuw60wGXONc1dttebdrbHuWIPQ,1,0,0,1,叶毅强,oKNuw60wGXONc1dttebdrbHuWIPQ
2,oKNuw60wGXONc1dttebdrbHuWIPQ,2,1,1,0,叶毅强,oKNuw60wGXONc1dttebdrbHuWIPQ
3,oKNuw60wGXONc1dttebdrbHuWIPQ,3,0,0,0,叶毅强,oKNuw60wGXONc1dttebdrbHuWIPQ
4,oKNuw60wGXONc1dttebdrbHuWIPQ,4,0,0,0,叶毅强,oKNuw60wGXONc1dttebdrbHuWIPQ
...,...,...,...,...,...,...,...
2529,oKNuw64KyfFP95R8Lv4TLnzhLPos,397,1,1,5,黎家洛,oKNuw64KyfFP95R8Lv4TLnzhLPos
2530,oKNuw64KyfFP95R8Lv4TLnzhLPos,398,1,1,5,黎家洛,oKNuw64KyfFP95R8Lv4TLnzhLPos
2531,oKNuw64KyfFP95R8Lv4TLnzhLPos,399,1,1,0,黎家洛,oKNuw64KyfFP95R8Lv4TLnzhLPos
2532,oKNuw64KyfFP95R8Lv4TLnzhLPos,399,1,1,0,黎家洛,oKNuw64KyfFP95R8Lv4TLnzhLPos
2533,oKNuw64KyfFP95R8Lv4TLnzhLPos,399,1,1,0,黎家洛,oKNuw64KyfFP95R8Lv4TLnzhLPos

In [29]:
for g in fitter.groupby('name'):
    print(g[0], len(g[1]))

叶毅强 401
周继华 137
周齐顺 403
张心和 200
曾湘宇 10
李嘉泓 125
杨俊毓 401
王逸驰 54
肖海萍 400
黎家洛 403